@charset "utf-8";

body {
    background-color: white;
  }
.header {
      width: 1140px;
      height: 90px;
      margin: 0 auto;
}
.header h1{
    float left;
    padding-top: 28px;
    margin-right: 25px;
}
.header .menu{
    float: right;
}
.header .menu li{
    float: left;
    margin-left: 40px;
    line-height: 90px;      
}
.header .menu li a:hover{
    color: #9f000f;
}    
.section1 {
}
.section1 h1{
    text-align: center;
    font-family: "Times New Roman;"
}
.section2 
      
